xml/reaction_names.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="opensmoke">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:integer" name="reaction-number"/>
        <xs:element type="xs:string" name="reaction-names"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>